.heroSection {
  height: 800px;
  position: relative;
  background-color: #f5f078;
}

.company {
  position: absolute;
  top: 64%;
  left: 60%;
  color: rgb(154, 38, 34);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-weight: 900;
}
