.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalContent {
  color: rgb(154, 38, 34);
  background-color: #e4cb67;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-top: 20px;
  background-color: #cd9b50;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(225, 206, 206);
  color: rgb(39, 15, 15);
  transition: 0.7s;
}

.button:active {
  transform: translateY(5px);
}
